// https://piccalil.li/blog/a-modern-css-reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Remove Arrows on Number Input */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }

/* Code: */

.splitter-title {
  padding-top: calc(50rem/16);
  margin: auto;
}

main {
    background-color: #C5E4E7;
    min-height: 100vh;
}

.tip-calculator-container {
    font-family: 'Space Mono', sans-serif;
    background-color: white;
    padding: calc(30rem/16) 0;
    border-radius: 25px;
    margin-top: calc(35rem/16);
}

.bill-section {
    margin: 0 calc(30rem/16) calc(32rem/16) calc(30rem/16);
}

.number-people-section {
    margin: calc(32rem/16) calc(30rem/16) 0 calc(30rem/16);
}

.number-people-labels {
  display: flex;
  justify-content: space-between;
}

.tip-section {
  margin: 0 calc(30rem/16);
}

.bill-amount-label, .select-tip-label, .number-people-label {
    color: #5E7A7D;
    font-weight: 600;
}

.select-tip-label {
    margin-bottom: 1rem;
}

.input-box-tip {
    background-repeat: no-repeat;
    background-position: calc(10rem/16) 1rem;
    text-align: end;
    padding-left: calc(25rem/16);
    padding-right: 0.6rem;
    display: block;
    border: none;
    background-color: #F3F9FA;
    width: 90%;
    height: calc(48rem/16);
    margin-top: 1rem;
    font-size: calc(24rem/16);
    color: #00474B;
    font-weight: 600;
    border-radius: 5px;
}

.input-box-tip:hover, .input-box-tip:active, .input-box-tip:focus {
    outline: none;
    border: none;
    cursor: pointer;
}

.tip-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.input-box-tip::placeholder {
  color: #00474B;
  opacity: 0.35;
}

.bill {
    background-image: url("images/icon-dollar.svg");
}

.number-people {
    background-image: url("images/icon-person.svg");
}

.input-tip-amount {
    display: none;
}

.input-tip-amount:checked + label {
    color: #00474B;
    background-color: #26C2AE;
}

.input-tip-label {
    background-color: #00474B;
    color: white;
    display: inline-block;
    height: calc(38rem/16);
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: calc(24rem/16);
    justify-content: center;
    font-weight: 600;
}

.input-tip-label:hover {
  cursor: pointer;
}

.input-tip-custom {
    border: none;
    border-radius: 5px;
    background-color: #F3F9FA;
    text-align: end;
    padding-right: 1rem;
    min-width: 5px;
    font-size: calc(24rem/16);
    font-weight: 600;
    color: #00474B;
}

.input-box-tip:hover, .input-box-tip:focus, .input-box-tip:active, .input-tip-custom:hover,  .input-tip-custom:focus, .input-tip-custom:active{
    outline: 2px solid #26C2AE;
    text-align: right;
}

.total-section {
  margin: calc(32rem/16) calc(23rem/16);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr, 5);
  background-color: #00474B;
  padding: calc(37rem/16) calc(24rem/16) calc(24rem/16) calc(24rem/16);
  border-radius: 15px;
}

.tip-amount-person-container {
  grid-area: 1 / 1 / 3 / 2;
}

.tip-amount-person {
  grid-area: 1 / 2 / 3 / 3;
  align-self: center;
  justify-self: end;
}

.tip-amount-total {
  align-self: center;
  justify-self: end;
}

.submit-button {
  grid-area: 5 / 1 / 6 / 3;
  margin-top: 2rem;
  padding: calc(10rem/16) 0;
  color: #00474B;
  font-size: calc(20rem/16);
  font-weight: 600;
  background-color: #26C2AE;
  border: none;
  outline: none;
}

.submit-button:hover {
  cursor: pointer;
}

.tip-amount-title {
  font-weight: 600;
  color: white;
}

.tip-amount-text {
  font-weight: 600;
  color: #7F9D9F;
  font-size: calc(13rem/16);
}

.tip-amount-total-text {
  color: #26C2AE;
  font-size: calc(32rem/16);
  font-weight: 700;
}

.number-people-error {
  text-align: right;
  display: none;
  color: #E17457;
}

@media (min-width: 40rem) {
  .splitter-title {
    padding-top: calc(160rem/16);
  }
  .tip-calculator-container {
    max-width: calc(920rem/16);
    margin-top: calc(87rem/16);
    margin-right: auto;
    margin-left: auto;
  }
  .tip-calculator-container form {
    display: flex;
    flex-direction: row;
  }

  .input-box-tip {
    width: 95%;
  }

  .error-visible {
    display: block;
  }

  .error-visible-border {
    border: 2px solid #E17052;
  }

  .total-section {
    padding-top: 0;
    margin: 0 calc(23rem/16) 0 0;
    min-width: 25rem;
  }

  .tip-amount-total-text {
    font-size: calc(50rem/16);
  }

  .tip-amount-total-container, .tip-amount-person-container {
    align-self: center;
  }

  .submit-button {
    padding: calc(4rem/16) 0;
  }

  .tip-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}